<html>
<title>
	Resume
</title>
<body style="background-color:black;">
	
	<form id="form">

		<span id="shoot_email">Send me an email!</span>
		<input type="text" name="name" id="user_name" placeholder="Name">
		<input type="text" name="email" id="user_email" placeholder="Email">
		<input type="text" name="subject" id="user_subject" placeholder="Subject">
		<textarea id="user_body" name="body" placeholder="Content"></textarea>
		<input type="submit" value="Send!">
		<img id="gif_loader" src="/assets/ajax-loader.gif">
	</form>

	<div class="container">
		<div class="header">
				<a class="linkedin" href="http://www.linkedin.com/pub/deepti-anand/14/a48/835/" target="_blank" title="My Linkedin"><img src="/assets/linkedin-logo.png"></a>
		
				<a class="git" href="http://www.github.com/deeptianand" target="_blank" title="My GitHub"><img src="/assets/git.png"></a>

				<a class="tumblr" href="http://deeptianand.tumblr.com/" target="_blank" title="My Blog"><img src="/assets/tumblr.png"></a>

			<div id ="email">
				e:anandeepti@gmail.com
				p:(312) 361 4252
			</div>

			<div id="pic">
				<img src="/assets/deepti-anand.jpg">
			</div>

			<h1> Deepti Anand </h1>
			<div class="profession"> FULL STACK WEB DEVELOPER<br> Belmont,CA </div>

		</div>
	<div class = "text">
	<h4>About me</h4>
	
		<p id="right" style="margin-top:25px;">Full Stack Web Developer, discovering the wonders of software development</p>

	</div>

		<div id="para">
		<div class="text">
		<h4>Projects</h4>
		<div id="right">
		<p id="headings">Danger Zone</p>
		<ul>
			<li> Gives you the safety score of any place in SF</li>
			<li> Built in 6 days by 4 developers using ruby on rails,google maps api,SF open data</li>
			<li> Link to the site:<a href="http://www.safesf.com" style="color:blue;background:white;" target="_blank">Danger Zone</a></li>
		</ul>
		<p id="headings">My Photo Blog(work in progress)</p>
		<ul>
			<li>Built using backbone.js and rails</li>
			<li> Link to the site:<a href="http://shutterbugs.herokuapp.com/" style="color:blue;background:white;" target="_blank">Shutter Bug </a></li>

		</ul>
		</div>
	</div>
	</div>
		<div id="para">
		<div class="text">
		<h4>Skills</h4>
		<div id="right">
			<div id="para">
			<p id="headings">Frontend</p>
			<ul>
				<li>Javascript, jQuery, CSS, HTML, Twitter Bootstrap,Backbone.js</li>
			</ul>
		</div>
			<p id="headings">Backend</p>
			<ul>
				<li>Ruby, Rails, Sinatra, Postgres, SQLite3, MySQL, Heroku, Rspec Testing</li>
			</ul>
		</div>	
	</div>
</div>
		
		<div class="text">
			<h4>Experience</h4>
			<div id="right">
			<p id="headings">Part time TA at <a href="http://www.devbootcamp.com" style="color:blue;background:white;" target="_blank">Dev Bootcamp- San Francisco</a></p>
			<ul>
				<li>Participated in a 3-week extension to mentor current students while learning advanced javascript and cs theory</li>
			</ul>
		</div>
		</div>
	

	<div id="para">
		<div class="text">
			<h4>Education</h4>
			<div id="right">
				<p id="year"> Mar 2013-May2013</p>
			<div id="para">
			<p id="headings">Dev Bootcamp- San Francisco</p>
			<ul>
				<li>12 week intensive program which aims at honing web development skills</li>
				<li>Topics covered: Ruby, Rails, Sinatra, AJAX, Heroku, Rspec, Postgres,Javascript,<br> jQuery, MySQL</li>
			</ul>
			
		</div>
			<div id="para">
				<p id="year"> Aug 2008-Dec 2010</p>
			<p id="headings">Southern Illinois University,Carbondale</p>
			<p>Master's in Environmental Engineering</p>
			
		</div>
			<div id="para">
			<p id="year"> Oct 2004-May 2008</p>
			<p id="headings">MVSR Engineering College,India</p>
			<p>Bachelor's degree in Civil Engineering</p>
			
		</div>

		</div>
		</div>


</div>
<div class="email_out">
	<img src="/assets/email.png"/>
</div>

</body>
</html>