<html>
<title>
	Resume
</title>
<body style="background-image:url('/assets/background.jpg');">
	<div class="container">
		<div class="header">
			<div class="linkedin">

			</div>
			<div class="linkedin">
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/deepti-anand/14/a48/835" data-format="click"></script>
			</div>
			<div class="git">
				<a href="http://www.github.com"><img src="/assets/git.png"></a>
			</div>

			<div id ="email">
				e:anandeepti@gmail.com
				p:(312) 361 4252
			</div>

			<div id="pic">
				<img src="/assets/deepti-anand.jpg">
			</div>

			<h1> Deepti Anand </h1>
			<div class="profession"> FULL STACK WEB DEVELOPER </div>
		</div>
	<div class = "text">
	<h4>About me</h4>
	
		<p id="right">Environmental Engineer turned web developer</p>

	</div>

		<div id="para">
		<div class="text">
		<h4>Ruby Projects</h4>
		<div id="right">
		<p id="headings">Danger Zone</p>
		<ul>
			<li> Gives you the safety score of any place in SF</li>
			<li> Buit in 6 days by 4 developers </li>
			<li>link:<a href="http://www.safesf.com">Danger Zone</a></li>
		</ul>
		</div>
	</div>
	</div>
		<div id="para">
		<div class="text">
		<h4>Skills</h4>
		<div id="right">
			<div id="para">
			<p id="headings">Frontend</p>
			<ul>
				<li>Javascript, jQuery, CSS, HTML, Twitter Bootstrap</li>
			</ul>
		</div>
			<p id="headings">Backend</p>
			<ul>
				<li>Ruby, Rails, Sinatra, Postgres, SQLite3, MySQL, Heroku, Testing</li>
			</ul>
		</div>	
	</div>
</div>
		<div id="para"
		<div class="text">
			<h4>Experience</h4>
			<div id="right">
			<p id="headings">Dev Bootcamp- San Francisco</p>
			<ul>
				<li>12 week intensive program which aims ar honing your web development skills</li>
				<li>Topics covered: Ruby, Rails, Sinatra, AJAX, Heroku, Testing, Postgres,Javascript, jQuery, MySQL</li>
			</ul>
		</div>
		</div>
	

	<div id="para"
		<div class="text">
			<h4>Education</h4>
			<div id="right">
				<p id="year"> Mar 2013-May2013</p>
			<div id="para">
			<p id="headings">Dev Bootcamp- San Francisco</p>
			<p>Web application development</p>
			
		</div>
			<div id="para">
				<p id="year"> Aug 2008-Dec 2010</p>
			<p id="headings">SIU,Carbondale</p>
			<p>Environmental Engineering</p>
			
		</div>
			<div id="para">
			<p id="year"> Oct 2004-May 2008</p>
			<p id="headings">MVSR Engineering College,India</p>
			<p>Civil Engineering</p>
			
		</div>

		</div>
		</div>

</div>
<div class="email_out">
	<img src="/assets/email.png"/>
</div>

</body>
</html>