<html>
<title>
	Resume
</title>
<body style="background-image:url('/assets/background.jpg');">
	<div class="container">
		<div class="header">
			<div class="linkedin">

			</div>

			<div class="git">
				<img src="/assets/git.png">
			</div>

			<div id ="email">
				e:anandeepti@gmail.com
				p:(312) 361 4252
			</div>

			<div id="pic">
				<img src="/assets/deepti-anand.jpg">
			</div>

			<h1> Deepti Anand </h1>
			<div class="profession"> FULL STACK WEB DEVELOPER </div>
		</div>
	<div class = "text">
	<div id="headings">
	<h4 id="aboutme">
		About me
	</h4>
	</div>
	
	<div id="personal">
		<p id="right">Environmental Engineer turned web developer</p>
	</div>
	</div>
	
		
		<h4>Ruby Projects</h4>
		<div id="right">
		<p id="headings">Danger Zone</p>
		<ul>
			<li> Gives you the safety score of any place in SF</li>
			<li> Buit in 6 days by 4 developers </li>
			<li>link:<a href="http://www.safesf.com">Danger Zone</a></li>
		</ul>
		</div>

</div>	

<div class="email_out">
	<img src="/assets/email.png"/>
</div>

</body>
</html>