// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color:yellow;
	padding:200px;
	padding-top:30px;
}

.container{
	border-top:solid 14px #990000 ;
	border-bottom:solid 14px #990000;
	margin:0 auto;
	height:1130px;
	background-color:white;

}

#opaque{
	background:black;
	opacity:0.8;
}

#gif_loader{
	display:none;	

}

#errormessage{
	left:0px;
	top:0px;
	margin-left:50px;
	margin-top:280px;
	position:fixed;
	color:white;
	font-weight:bold;
}

.header{
	background-color:#606060;
	height:150px;
	border-bottom:solid 1px gray;
	position:relative;

}

.linkedin{
	float:right;
	height:32px;
	width:32px;
	margin:10px;
	background-color:#606060;

}

.tumblr{
	margin-top:30px;
	float:right;
	height:25px;
	width:25px;
	margin:10px;
	background-color:#606060;
	margin-right:10px;
}

#email{
	float:right;
	left:730px;
	margin-top:60px;
	color:white;
	margin-left:30px;
	width:120px;
	position:absolute;
}

#pic{
	padding:7px;
	border-width:0.5px;
	float:left;
	border:solid 1px white;
	margin:20px;
	background-color:white;
}

h1{
	text-align:left;
	margin:0px;
	padding-top:60px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;

}

#aboutme{
	margin-left:15px;
}

.profession{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	margin-top:4px;
}

h4{
	float:left;
	font-style:italic;
	color:gray;
	font-size:20px;
	margin-left:15px;
}

#personal{
	padding-top:14px;
	float:right;
	width:68%;
}

#right{
	float:right;
	width:68%;	
}

.git{
	float:right;
	height:0px;
	width:0px;
	margin-right:35px;
	margin-top:8px;
}

#year{
	float:right;
	font-size:12px;	
	margin-top:25px;
	border:solid 1px #eee;
	background-color:#eee;
	padding:2px;
	margin-right:10px;
}

.text{
	clear:both;
			
}

#headings{
	font-family:Georgia, serif;
	margin:0;
	padding-top:27px;;
	list-style:none;
	font-weight:bold;
	font-size: 15px;
}



.border{
	margin:15px;
	border-bottom:solid 2px #E0E0E0;
}

ul{
	margin-left:10px;
}

li{
	list-style:square;
}

a{
	text-decoration:none;	
	font-weight:bold;
	color:blue;	
}

.email_out{
	left:0px;
	top:0px;
	position:fixed;
	margin-top:300px;
	color:white;
	font-weight:bold;	


}

#user_body{
	width:120px;
	height:50px;
}

#form {
	left:0px;
	top:0px;
	margin-left:50px;
	margin-top:300px;
	position:fixed;
	width:130px;
	background-color:#606060;
	padding-top:10px;
	padding-left:2px;
	border-radius:4px;
	border-color:white;
	border-style:solid;
	border-width:2px;
}

#para{
	border-bottom:solid 2px #E0E0E0;
	padding-bottom:10px;
}

.comments{
	left:0px;
	top:0px;
	position:fixed;
	margin-top:510px;
	color:white;
	font-weight:bold;	
	margin-left:49px;
	font-size:11px;
	color:red;

}

a{
	color:blue;
	background:white;
}

#shoot_email{
	color:white;	
}

#user_subject{
	width:120px;
	height:19px;
}

#user_email{
	width:120px;
	height:19px;
}

#user_name{
	width:120px;
	height:19px;
}